<mat-card>
  <img *ngIf="stack.imageUrl !== ''" mat-card-image [attr.src]="stack.imageUrl">
  <button mat-icon-button [matMenuTriggerFor]="menu" id="more" class="hidden">
    <mat-icon svgIcon="more_vert"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="updateStack()">
      <mat-icon svgIcon="mode_edit"></mat-icon>
      <span>Edit</span>
    </button>
    <button mat-menu-item (click)="deleteStack()">
      <mat-icon svgIcon="delete"></mat-icon>
      <span>Delete</span>
    </button>
  </mat-menu>
  <mat-card-header [routerLink]="['/cards', stack.id]">
    <mat-card-title><h1>{{ stack.title }}</h1></mat-card-title>
    <mat-card-subtitle>{{ stack.cards.length }} cards</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <span class="tag" *ngFor="let t of stack.tags">
      <label class="tag-label">{{ t.value }}</label>
    </span>
  </mat-card-content>
  <mat-card-actions align="right">
  </mat-card-actions>
</mat-card>
