<h2 mat-dialog-title>Add card</h2>
<mat-dialog-content>
  <form #formCtrl="ngForm">
    <mat-form-field>
      <input matInput required type="text" name="frontTitle" placeholder="Front title" [(ngModel)]="frontTitle"/>
      <button mat-button *ngIf="frontTitle" matSuffix mat-icon-button aria-label="Clear" (click)="frontTitle=''">
        <mat-icon svgIcon="close"></mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <input matInput required type="text" name="backTitle" placeholder="Back title" [(ngModel)]="backTitle"/>
      <button mat-button *ngIf="backTitle" matSuffix mat-icon-button aria-label="Clear" (click)="backTitle=''">
        <mat-icon svgIcon="close"></mat-icon>
      </button>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]=null>
    Cancel
  </button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button mat-button [disabled]="!formCtrl.form.valid" (click)="addCard()">Add card</button>
</mat-dialog-actions>
