<div [class]="themeClass">
  <mat-card *ngIf="card != null" class="container">
    <div *ngIf="devMode" class="debug">id {{ card.id.slice(0, 19)  }}...</div>
    <div *ngIf="devMode" class="debug">index {{ card.index }}</div>

    <!-- Menu -->
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="!card.favorite" (click)="onCardClicked(actionType.SET_FAVORITE)">
        <mat-icon svgIcon="favorite"></mat-icon>
        <span>Add to favorites</span>
      </button>
      <button mat-menu-item *ngIf="card.favorite" (click)="onCardClicked(actionType.UNSET_FAVORITE)">
        <mat-icon svgIcon="favorite_border"></mat-icon>
        <span>Remove from favorites</span>
      </button>
      <button mat-menu-item (click)="onCardClicked(actionType.OPEN_DIALOG_UPDATE)">
        <mat-icon svgIcon="mode_edit"></mat-icon>
        <span>Update</span>
      </button>
      <button mat-menu-item (click)="onCardClicked(actionType.DELETE)">
        <mat-icon svgIcon="delete"></mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>

    <div class="flexcontainer">
      <div class="card-main-content">
        <div *ngIf="activeAspect != null" [ngSwitch]="activeAspect.type">
          <div *ngSwitchCase="aspectType.SIDE" (click)="onCardClicked(actionType.NONE)">
            <img *ngIf="activeSide.imageUrl !== ''" mat-card-image [attr.src]="activeSide.imageUrl">
            <mat-card-title class="side-title side">{{ activeSide.title }}</mat-card-title>
          </div>
          <div *ngSwitchCase="aspectType.TENSE" (click)="onCardClicked(actionType.NONE)">
            <app-tense-fragment [tenseGroup]="activeTenseGroup" [readonly]="true">
            </app-tense-fragment>
          </div>
          <div *ngSwitchCase="aspectType.EXAMPLE" (click)="onCardClicked(actionType.NONE)">
            <app-example-fragment [example]="activeExample" [readonly]="true">
            </app-example-fragment>
          </div>
          <div *ngSwitchCase="aspectType.INFORMATION">
            <app-markdown-preview [markdownText]="activeInformation"></app-markdown-preview>
          </div>
          <div *ngSwitchCase="aspectType.QUIZ">
            <div [ngSwitch]="activePartIndex">
              <div *ngSwitchCase=0>
                <mat-card-title class="side-title">{{ activeSide.title }}
                </mat-card-title>
                <div *ngIf="!activeSingleChoice">
                  <app-multiple-choice-fragment *ngIf="!activeSingleChoice"
                                                [items]="activeAnswers" [readonly]="false" [editable]="false"
                                                (itemsChangedEmitter)="onAnswersSelected($event)"></app-multiple-choice-fragment>
                  <div class="flexcontainer">
                    <div class="flexbox"></div>
                    <button mat-flat-button color="accent" [disabled]="!(activeAnswers | containsSelected)"
                            (click)="onCardClicked(actionType.NONE)">RESOLVE
                    </button>
                  </div>
                </div>
                <app-single-choice-fragment *ngIf="activeSingleChoice"
                                            [items]="activeAnswers"
                                            (itemsChangedEmitter)="onAnswerSelected($event)"></app-single-choice-fragment>
              </div>
              <div *ngSwitchCase=1>
                <mat-card-title class="side-title" (click)="onCardClicked(actionType.NONE)">{{ activeSide.title }}
                </mat-card-title>
                <app-multiple-choice-fragment *ngIf="!activeSingleChoice"
                                    [items]="activeAnswers" [readonly]="true" [editable]=false
                                    (click)="onCardClicked(actionType.NONE)"></app-multiple-choice-fragment>
                <app-single-choice-fragment *ngIf="activeSingleChoice"
                                            [items]="activeAnswers" [readonly]=true
                                            (itemsChangedEmitter)="onAnswerSelected($event)"></app-single-choice-fragment>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flexbox"></div>
      <button mat-icon-button [matMenuTriggerFor]="menu" id="more" class="hidden">
        <mat-icon svgIcon="more_vert"></mat-icon>
      </button>
    </div>
    <mat-card-footer>
      <div class="flexcontainer holder">
        <div class="group">
          <mat-icon *ngIf="card.favorite" svgIcon="favorite" class="favorite-icon"
                    [style.fill]="favoriteColor"></mat-icon>
        </div>
        <div (click)="onCardClicked(actionType.NONE)">
          <span *ngFor="let t of card.tagIds">
            <span class="tag" *ngIf="tagsMap.get(t) != null"><label class="tag-label">{{ tagsMap.get(t).name }}</label></span>
          </span>
        </div>
      </div>
    </mat-card-footer>

    <mat-card-actions
      *ngIf="displayActionButtons && ((activeAspect != null && activeAspect.type != aspectType.SIDE && activeAspect.type != aspectType.QUIZ)
      || activePartIndex !== 0)"
      align="right">
      <div class="flexcontainer">
        <button mat-button
                matTooltip="Put card to end"
                matTooltipPosition="above"
                matTooltipShowDelay="250"
                (click)="onCardClicked(actionType.PUT_TO_END)">
          <mat-icon svgIcon="rotate_left"></mat-icon>
          <span mat-button *ngIf="media < mediaType.MEDIUM">
                PUT TO END
          </span>
        </button>
        <div class="flexbox"></div>

        <button mat-button
                matTooltip="Move to next box"
                matTooltipPosition="above"
                matTooltipShowDelay="250"
                (click)="onCardClicked(actionType.MOVE_TO_NEXT_BOX)">
          <span mat-button *ngIf="media < mediaType.MEDIUM">
                MOVE TO NEXT BOX
          </span>
          <mat-icon svgIcon="skip_next"></mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
