@import '../../../../../../flex';
@import '../../../../../../sizes';
@import '../../../../../../theme';

//
// Custom
//

.container {
  min-height: 110px;
}

.card-header-content {
  padding: 5px;
  width: 100%;
}

.card-main-content {
  min-height: 70px;
}

.side-title {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 1.8em;
  width: 255px;
}

.side {
  text-align: center;
}

.side-example {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 1.2em;
}

.label {
  display: block;
  color: rgba(0, 0, 0, .38);
  padding-bottom: 5px;
  font-size: 75%;
  /*-webkit-transform: translateX(-20%) scale(.75);
  transform: translateX(-12%) scale(.75);
  width: 133.33333%;*/
}

#more {
  float: right;
}

hr {
  clear: left;
  border: solid #444 1px;
}

.label {
  display: block;
  color: rgba(0, 0, 0, .38);
  padding-bottom: 5px;
  font-size: 75%;
  /*-webkit-transform: translateX(-20%) scale(.75);
  transform: translateX(-12%) scale(.75);
  width: 133.33333%;*/
}

.hidden {
  display: none;
}

.side {
  &:hover .hidden {
    display: inline-block;
  }
}

.holder {
  padding: 0 24px 24px;

  .group {
    padding-right: 12px;
  }
}

.light-theme {
  .favorite-icon {
    fill: mat-color($light-accent, 600);

    margin-top: 5px;
    vertical-align: baseline;
  }
}

.dark-theme {
  .favorite-icon {
    fill: mat-color($dark-accent, 600);

    margin-top: 5px;
    vertical-align: baseline;
  }
}

.tag {
  background-color: rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin: 6px 6px 0 0;
  color: rgba(0, 0, 0, .87);
  direction: ltr;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 15px;
  float: left;
  align-items: center;
  height: 18px;
  padding: 3px 5px;
  text-align: left;
}

#more {
  float: right;
}

.hidden {
  display: none;
}

//
// Material
//

mat-card {
  margin: 15px auto;

  @media #{$breakpoint-small} {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
  }
  @media #{$breakpoint-medium} {
    width: 300px;
  }
  @media #{$breakpoint-large} {
    width: 300px;
  }

  &:hover .hidden {
    display: inline-block;
  }
}

mat-card-header {
  margin-left: 0;
  cursor: pointer;
}

mat-card-content {
  margin-bottom: 0;
}

mat-card-actions {
  padding: 0;
  margin: 0;
}

.mat-card-actions .mat-button:first-child, .mat-card-actions .mat-raised-button:first-child {
  margin-left: 0;
  margin-right: 0;
  padding-left: 15px;
  padding-right: 15px;
}
