@import '../../../../../../theme';
@import '../../../../../../flex';

.userPopoverHeader, .userPopoverFooter {
  padding: 10px;

  .photo {
    height: 96px;
    width: 96px;
    margin-right: 20px;
  }

  .displayName {
    color: mat-color($mat-grey, 900);
    font-size: 0.9em;
    font-weight: bold;
  }

  .email {
    color: mat-color($mat-grey, 700);
    font-size: 0.9em;
  }

  .avatar {
    border-radius: 50%;
    flex-shrink: 0;
  }
}

.userPopoverFooter {
  background: mat-color($mat-grey, 100);
}
