<app-stacks-toolbar
  *ngIf="media > mediaType.MEDIUM"
  [@toolbarAnimation]="scrollDirection"
  class="fixed"
  [title]="title"
  [media]="media"
  [searchOptions]="searchOptions"
  [filterActive]="filterActive"
  [user]="user"
  (searchItemEventEmitter)="onSearchItemChanged($event)"
  (menuItemEventEmitter)="onMenuItemClicked($event)"></app-stacks-toolbar>

<mat-sidenav-container class="sidenav-container" layout="column">
  <mat-sidenav *ngIf="media > mediaType.MEDIUM" mode="side" disableClose="true"
               position="start" [opened]="'true'"
               class="sidenav sidenav-start"
               (keydown)="onKeyDown($event)">
    <div [@toolbarAnimation]="scrollDirection">
      <app-tag-list [tags]="tags" [tagsFiltered]="tagsFiltered" [recentCount]="'10'" [media]="media"
                    (tagEventEmitter)="onTagEvent($event)"></app-tag-list>
    </div>
  </mat-sidenav>

  <mat-sidenav *ngIf="media < mediaType.LARGE" #sidenavStart mode="over" disableClose="false"
               position="start" [opened]="sidenavOpened"
               class="sidenav sidenav-start"
               (keydown)="onKeyDown($event)"
               (opened)="onSidenavOpened()"
               (closed)="onSidenavClosed()">
    <div [@toolbarAnimation]="scrollDirection">
      <div class="toolbar-wrapper">
        <div class="toolbar-block start">
          <button mat-button class="toolbar-menu-item" (click)="sidenavStart.close()">
            <mat-icon svgIcon="close" class="icon"></mat-icon>
            CLOSE
          </button>
        </div>
      </div>
      <app-tag-list [tags]="tags" [tagsFiltered]="tagsFiltered" [recentCount]="'10'" [media]="media"
                    (tagEventEmitter)="onTagEvent($event)"></app-tag-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content cdkScrollable (keydown)="onKeyDown($event)">
    <app-stacks-toolbar
      *ngIf="media < mediaType.LARGE"
      [@toolbarAnimation]="scrollDirection"
      class="fixed"
      [title]="title"
      [media]="media"
      [searchOptions]="searchOptions"
      [filterActive]="filterActive"
      [user]="user"
      (searchItemEventEmitter)="onSearchItemChanged($event)"
      (menuItemEventEmitter)="onMenuItemClicked($event)"></app-stacks-toolbar>
    <div class="card-main-content">
      <app-stack-fragment *ngFor="let s of stacks" [stack]="s" [tags]="tags"
                          (stackEventEmitter)="onStackEvent($event)">
      </app-stack-fragment>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>

<button mat-fab class="fab" (click)="onAddStackClicked()">
  <mat-icon svgIcon="add" class="icon-accent-contrast"></mat-icon>
</button>
