<mat-toolbar color="primary">
  <button mat-button class="toolbar-menu-item" (click)="clickMenuItem('back')">
    <mat-icon svgIcon="back"></mat-icon>
  </button>
  <div class="toolbar-block">
    <span class="toolbar-title">{{ title }}</span>
  </div>
  <div class="flexbox"></div>
  <button mat-button class="toolbar-menu-item" (click)="clickMenuItem('tags')">
    <mat-icon svgIcon="label"></mat-icon>
  </button>
  <button mat-button class="toolbar-menu-item" (click)="clickMenuItem('refresh')">
    <mat-icon svgIcon="refresh"></mat-icon>
  </button>
  <button mat-button class="toolbar-menu-item" [matMenuTriggerFor]="menu">
    <mat-icon svgIcon="more"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="clickMenuItem('settings')">Settings</button>
  </mat-menu>
</mat-toolbar>
