<mat-list>
  <mat-list-item *ngFor="let example of examples">
    <div class="example">
      <input matInput title="example-source" autocomplete="off"
             [placeholder]="placeholderFront"
             [(ngModel)]="example.source"
             (ngModelChange)="onExampleSourceChanged(example)">
      <input matInput title="example-target" class="target" autocomplete="off"
             [placeholder]="placeholderBack"
             [(ngModel)]="example.target"
             (ngModelChange)="onExampleTargetChanged()">
    </div>
  </mat-list-item>
</mat-list>

<button mat-button class="add-button" [disabled]="emptyExampleExists()" (click)="onAddButtonClicked()">
  ADD EXAMPLE
</button>
