<div (keydown)="onKeyDown($event)">
  <h2 mat-dialog-title>{{ dialogTitle }}</h2>
  <mat-dialog-content>
    <form #formCtrl="ngForm">
      <app-stack-type-fragment [stack]="stack" (stackTypeEventEmitter)="onStackTypeChanged($event)">
      </app-stack-type-fragment>
      <app-stack-title-fragment class="stack-title"
                                cdkTrapFocus
                                [stackTitle]="stack.title" [placeholder]="'Stack name'"
                                (stackTitleChangedEmitter)="onStackTitleChanged($event)">
      </app-stack-title-fragment>

      <!-- Language -->
      <app-language-selection-fragment *ngIf="containsDisplayAspect(displayAspectType.LANGUAGE, stack)"
                                       [language]="stack.sourceLanguage" [placeholder]="'Source Language'"
                                       (languageChangedEmitter)="onSourceLanguageChanged($event)"></app-language-selection-fragment>
      <app-language-selection-fragment *ngIf="containsDisplayAspect(displayAspectType.LANGUAGE, stack)"
                                       [language]="stack.targetLanguage" [placeholder]="'Target Language'"
                                       (languageChangedEmitter)="onTargetLanguageChanged($event)"></app-language-selection-fragment>

      <!-- Tags -->
      <app-tag-chips [tags]="tags | tagNames"
                     [tagOptions]="tagOptions"
                     [readonly]=false
                     (tagsChangedEmitter)="onTagsChanged($event)">
      </app-tag-chips>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="flexcontainer">
    <button mat-button color="warn" *ngIf="mode == modeType.UPDATE" (click)="deleteStack()">
      Delete stack
    </button>
    <div class="flexbox"></div>
    <button mat-button *ngIf="mode == modeType.ADD"
            [disabled]="!containsDisplayAspect(displayAspectType.CAN_BE_CREATED, stack, task)"
            (click)="handleStackChanges()">
      Add stack
    </button>
    <button mat-button *ngIf="mode == modeType.UPDATE"
            [disabled]="!containsDisplayAspect(displayAspectType.CAN_BE_UPDATED, stack, task)"
            (click)="handleStackChanges()">
      Update stack
    </button>
  </mat-dialog-actions>
</div>
