<mat-accordion class="headers-align">

  <!-- Tenses -->
  <mat-expansion-panel
    *ngIf="stack.targetLanguage != null" (opened)="false" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>Tenses</mat-panel-title>
      <mat-panel-description *ngIf="card.tenseGroups.length === 0">
        Add tenses
      </mat-panel-description>
      <mat-panel-description *ngIf="card.tenseGroups.length > 0" class="value-set">
        Tenses are set
      </mat-panel-description>
      <mat-icon svgIcon="schedule"></mat-icon>
    </mat-expansion-panel-header>
    <app-tenses-fragment [tenseGroups]="card.tenseGroups">
    </app-tenses-fragment>
  </mat-expansion-panel>

  <!-- Examples -->
  <mat-expansion-panel *ngIf="stack.targetLanguage != null" [disabled]="readonly"
                       (opened)="false" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>Example</mat-panel-title>
      <mat-panel-description *ngIf="card.example == ''">Add an example</mat-panel-description>
      <mat-panel-description *ngIf="card.example != ''" class="value-set">
        Example is set
      </mat-panel-description>
      <mat-icon svgIcon="chat_bubble_outline"></mat-icon>
    </mat-expansion-panel-header>

    <app-examples-fragment>
    </app-examples-fragment>
  </mat-expansion-panel>

</mat-accordion>
