<mat-accordion class="headers-align">

  <!-- Tenses -->
  <mat-expansion-panel
    *ngIf="stack.targetLanguage != null" (opened)="false" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>Tenses</mat-panel-title>
      <mat-panel-description *ngIf="card.tenseGroups == null || card.tenseGroups.length === 0">
        Add tenses
      </mat-panel-description>
      <mat-panel-description *ngIf="card.tenseGroups != null && card.tenseGroups.length > 0" class="value-set">
        {{ card.tenseGroups.length }} tenses are set
      </mat-panel-description>
      <mat-icon svgIcon="schedule"></mat-icon>
    </mat-expansion-panel-header>
    <app-tenses-fragment [tenseGroups]="card.tenseGroups"
                         (tenseGroupsChangedEventEmitter)="onTenseGroupsChanged($event)">
    </app-tenses-fragment>
  </mat-expansion-panel>

  <!-- Examples -->
  <mat-expansion-panel *ngIf="stack.targetLanguage != null" [disabled]="readonly"
                       (opened)="false" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>Example</mat-panel-title>
      <mat-panel-description *ngIf="card.examples == null || card.examples.length === 0">Add an example
      </mat-panel-description>
      <mat-panel-description *ngIf="card.examples != null && card.examples.length > 0" class="value-set">
        {{ card.examples.length }} examples are set
      </mat-panel-description>
      <mat-icon svgIcon="chat_bubble_outline"></mat-icon>
    </mat-expansion-panel-header>
    <app-examples-fragment [examples]="card.examples"
                           [targetLanguage]="stack.targetLanguage"
                           [placeholderFront]="stack.sourceLanguage"
                           [placeholderBack]="stack.targetLanguage"
                           (exampleChangedEventEmitter)="onExampleChanged($event)">
    </app-examples-fragment>
  </mat-expansion-panel>

</mat-accordion>
