<div (keydown)="onKeyDown($event)">
  <h2 mat-dialog-title>{{ dialogTitle }}</h2>
  <mat-dialog-content>
    <form #formCtrl="ngForm">
      <app-card-type-fragment [card]="card" (cardTypeEventEmitter)="onCardTypeChanged($event)">
      </app-card-type-fragment>

      <!-- Sides -->
      <app-side-form *ngIf="containsDisplayAspect(displayAspectType.TITLES, card)"
                     [card]="card" [stack]="stack"
                     (cardEventEmitter)="onSidesChanged($event)"></app-side-form>

      <p>
        <mat-divider></mat-divider>
      </p>

      <!-- Tenses -->
      <app-tenses-form *ngIf="containsDisplayAspect(displayAspectType.TENSES, card)"
                       [card]="card" [stack]="stack"
                       (cardEventEmitter)="onTensesChanged($event)"></app-tenses-form>
      <!-- Examples -->
      <app-examples-form *ngIf="containsDisplayAspect(displayAspectType.EXAMPLES, card)"
                       [card]="card" [stack]="stack"
                       (cardEventEmitter)="onExamplesChanged($event)"></app-examples-form>

      <!-- Information -->
      <app-information-fragment *ngIf="containsDisplayAspect(displayAspectType.INFORMATION, card)"
                                [card]="card" [stack]="stack"
                                (cardEventEmitter)="onInformationChanged($event)">
      </app-information-fragment>

      <!-- Single Choice Quiz -->
      <app-quiz-form *ngIf="containsDisplayAspect(displayAspectType.SINGLE_CHOICE_QUIZ, card)"
                     [card]="card" [stack]="stack" [media]="media"
                     (cardEventEmitter)="onQuizChanged($event)">
      </app-quiz-form>
      <!-- Multiple Choice Quiz -->
      <app-quiz-form *ngIf="containsDisplayAspect(displayAspectType.MULTIPLE_CHOICE_QUIZ, card)"
                     [card]="card" [stack]="stack" [media]="media"
                     (cardEventEmitter)="onQuizChanged($event)">
      </app-quiz-form>

      <app-tag-chips [tags]="tags | tagNames"
                     [tagOptions]="tagOptions"
                     [readonly]=false
                     (tagsChangedEmitter)="onTagsChanged($event)">
      </app-tag-chips>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="flexcontainer">
    <button mat-button color="warn" *ngIf="mode == modeType.UPDATE" (click)="deleteCard()">
      Delete card
    </button>
    <div class="flexbox"></div>
    <button mat-button *ngIf="mode == modeType.ADD"
            [disabled]="!containsDisplayAspect(displayAspectType.CAN_BE_CREATED, card)"
            (click)="handleCardChanges()">
      Add card
    </button>
    <button mat-button *ngIf="mode == modeType.UPDATE"
            [disabled]="!containsDisplayAspect(displayAspectType.CAN_BE_UPDATED, card)"
            (click)="handleCardChanges()">
      Update card
    </button>
  </mat-dialog-actions>
</div>
