<div (keydown)="onKeyDown($event)">
  <h2 mat-dialog-title>{{ dialogTitle }}</h2>
  <mat-dialog-content>
    <form #formCtrl="ngForm">
      <div class="side-title">
        <app-side-title-fragment
          [sideTitle]="card.sides[0].title" [placeholder]="'Front'"
          (sideTitleChangedEmitter)="onFrontTitleChanged($event)">
        </app-side-title-fragment>
      </div>
      <div class="side-title">
        <div class="flexcontainer">
          <app-side-title-fragment
            [sideTitle]="card.sides[1].title" [placeholder]="'Back'"
            (sideTitleChangedEmitter)="onBackTitleChanged($event)">
          </app-side-title-fragment>
        </div>
      </div>
      <app-tag-chips [tags]="tags | tagNames"
                     [tagOptions]="tagOptions"
                     [readonly]=false
                     (tagsChangedEmitter)="onTagsChanged($event)">
      </app-tag-chips>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="flexcontainer">
    <button mat-button color="warn" *ngIf="mode == modeType.UPDATE" (click)="deleteCard()">
      Delete stack
    </button>
    <div class="flexbox"></div>
    <button mat-button *ngIf="mode == modeType.ADD"
            [disabled]="!containsDisplayAspect(displayAspectType.CAN_BE_CREATED, card)"
            (click)="handleCardChanges()">
      Add stack
    </button>
    <button mat-button *ngIf="mode == modeType.UPDATE"
            [disabled]="!containsDisplayAspect(displayAspectType.CAN_BE_UPDATED, card)"
            (click)="handleCardChanges()">
      Update stack
    </button>
  </mat-dialog-actions>
</div>
