<div *ngIf="tenseGroup != null" class="tense-header flexcontainer">
  <button mat-button disabled>
    {{ tenseGroup.tense }}
  </button>
  <div class="flexbox"></div>
  <button *ngIf="!readonly" mat-button class="hidden" color="warn" (click)="onDeleteTenseClicked(tenseGroup.tense)">
    REMOVE
  </button>
  <button *ngIf="!readonly" mat-button class="hidden" (click)="onClearTenseClicked(tenseGroup.tense)">
    CLEAR
  </button>
</div>
<mat-list *ngIf="tenseGroup != null">
  <mat-list-item *ngFor="let form of tenseGroup.forms">
    <input *ngIf="!readonly " matInput type="text" autocomplete="off" [placeholder]=form.person
           [ngModel]="form.value" (ngModelChange)="onFormChanged(form.person, $event)">
    <app-markdown-preview *ngIf="readonly" [markdownText]="form.value" preventParagraphMargins="true"
                          class="preview"></app-markdown-preview>
  </mat-list-item>
</mat-list>
