<h2 mat-dialog-title>{{ dialogTitle }}</h2>
<mat-dialog-content (keyup)="onKey($event)">
  <form #formCtrl="ngForm">
    <mat-form-field>
      <input matInput required type="text" name="title" placeholder="Title" [(ngModel)]="stack.title"/>
      <button mat-button *ngIf="stack.title" matSuffix mat-icon-button aria-label="Clear" (click)="title=''">
        <mat-icon svgIcon="close"></mat-icon>
      </button>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]=null>
    Cancel
  </button>
  <button mat-button *ngIf="mode == DIALOG_MODE.ADD" [disabled]="!formCtrl.form.valid" (click)="addStack()">Add stack
  </button>
  <button mat-button *ngIf="mode == DIALOG_MODE.UPDATE" [disabled]="!formCtrl.form.valid" (click)="updateStack()">Update
    stack
  </button>
</mat-dialog-actions>
