<app-stacks-toolbar
  class="fixed"
  [title]="title"
  (onMenuItemClicked)="onMenuItemClicked($event)"></app-stacks-toolbar>

<mat-sidenav-container class="sidenav-container" layout="column">
  <mat-sidenav #sidenav mode="side" class="sidenav">
    <app-side-menu (onMenuItemClicked)="onSideMenuItemClicked($event)"></app-side-menu>
  </mat-sidenav>

  <div class="content">
    <app-file-drop (uploadedFiles)="uploadedFiles($event)"></app-file-drop>
    <app-stack *ngFor="let s of stacks" [stack]="s">
    </app-stack>
  </div>

</mat-sidenav-container>
