<div class="flexcontainer">
  <input matInput class="question" title="question" type="text" autocomplete="off" placeholder="Question"
         [ngModel]="quizAspect.question"
         (ngModelChange)="onQuestionChanged($event)"
         [disabled]="readonly">
  <div class="flexbox"></div>
  <label *ngIf="media > mediaType.MEDIUM" class="mat-slide-toggle-label other-label">
    <span class="mat-slide-toggle-content">{{ quizType.SELECT }}</span>
  </label>
  <mat-slide-toggle *ngIf="media > mediaType.MEDIUM"
                    color="accent"
                    [checked]="singleChoice"
                    [disabled]="singleChoiceImpossible"
                    (change)="onSingleChoiceChanged($event)">
    {{ quizType.CHOOSE }}
  </mat-slide-toggle>
</div>
<div *ngIf="media < mediaType.LARGE" class="flexcontainer">
  <div class="flexbox"></div>
  <label class="mat-slide-toggle-label other-label">
    <span class="mat-slide-toggle-content">{{ quizType.SELECT }}</span>
  </label>
  <mat-slide-toggle
    color="accent"
    [checked]="singleChoice"
    [disabled]="singleChoiceImpossible"
    (change)="onSingleChoiceChanged($event)">
    {{ quizType.CHOOSE }}
  </mat-slide-toggle>
</div>
<div class="answers">
  <app-checkable-list [items]="quizAspect.answers" newEntryPlaceholder="New answer"
                      (itemsChangedEmitter)="onAnswersChanged($event)"></app-checkable-list>
</div>
