<mat-list>
  <mat-list-item *ngFor="let example of examples">
    <app-example-fragment [example]="example"
                          [sourceLanguage]="sourceLanguage"
                          [targetLanguage]="targetLanguage"
                          [placeholderFront]="placeholderFront"
                          [placeholderBack]="placeholderBack"
                          (exampleChangedEventEmitter)="onExampleChanged($event)"></app-example-fragment>
  </mat-list-item>
</mat-list>

<button mat-button class="add-button" [disabled]="emptyExampleExists()" (click)="onAddButtonClicked()">
  ADD EXAMPLE
</button>
