<div [class]="themeClass">
  <mat-card class="container">

    <!-- Menu -->
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="!card.favorite" (click)="onCardClicked(actionType.SET_FAVORITE)">
        <mat-icon svgIcon="favorite"></mat-icon>
        <span>Add to favorites</span>
      </button>
      <button mat-menu-item *ngIf="card.favorite" (click)="onCardClicked(actionType.UNSET_FAVORITE)">
        <mat-icon svgIcon="favorite_border"></mat-icon>
        <span>Remove from favorites</span>
      </button>
      <button mat-menu-item (click)="onCardClicked(actionType.OPEN_DIALOG_UPDATE)">
        <mat-icon svgIcon="mode_edit"></mat-icon>
        <span>Update</span>
      </button>
      <button mat-menu-item (click)="onCardClicked(actionType.DELETE)">
        <mat-icon svgIcon="delete"></mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>

    <div class="flexcontainer">
      <div class="card-main-content">
        <div [ngSwitch]="activeAspect.type">
          <div *ngSwitchCase="aspectType.SIDE" (click)="onCardClicked(actionType.NONE)">
            <img *ngIf="activeSide.imageUrl !== ''" mat-card-image [attr.src]="activeSide.imageUrl">
            <mat-card-title class="side-title">{{ activeSide.title }}</mat-card-title>
          </div>
          <div *ngSwitchCase="aspectType.TENSE" (click)="onCardClicked(actionType.NONE)">
            <app-tense-fragment [tenseGroup]="activeTenseGroup" [readonly]="true">
            </app-tense-fragment>
          </div>
          <div *ngSwitchCase="aspectType.EXAMPLE" (click)="onCardClicked(actionType.NONE)">
            <app-example-fragment [example]="activeExample" [readonly]="true">
            </app-example-fragment>
          </div>
          <div *ngSwitchCase="aspectType.QUIZ">
            <div [ngSwitch]="activePartIndex">
              <div *ngSwitchCase=0>
                <mat-card-title class="side-title">{{ activeSide.title }}
                </mat-card-title>
                <app-checkable-list [items]="activeAnswers" [editable]=false (itemsChangedEmitter)="onAnswersSelected($event)"></app-checkable-list>
                <div class="flexcontainer">
                  <div class="flexbox"></div>
                  <button mat-flat-button color="accent" [disabled]="!(activeAnswers | containsSelected)" (click)="onCardClicked(actionType.NONE)">RESOLVE</button>
                </div>
              </div>
              <div *ngSwitchCase=1>
                <mat-card-title class="side-title" (click)="onCardClicked(actionType.NONE)">{{ activeSide.title }}
                </mat-card-title>
                <app-checkable-list [items]="activeAnswers" [readonly]="true" [editable]=false (click)="onCardClicked(actionType.NONE)"></app-checkable-list>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flexbox"></div>
      <button mat-icon-button [matMenuTriggerFor]="menu" id="more" class="hidden">
        <mat-icon svgIcon="more_vert"></mat-icon>
      </button>
    </div>
    <mat-card-footer>
      <div class="flexcontainer holder">
        <div class="group">
          <mat-icon *ngIf="card.favorite" svgIcon="favorite" class="favorite-icon"></mat-icon>
        </div>
        <div (click)="onCardClicked(actionType.NONE)">
          <span *ngFor="let t of card.tagIds">
            <span class="tag" *ngIf="tags.get(t) != null"><label class="tag-label">{{ tags.get(t).name }}</label></span>
          </span>
        </div>
      </div>
    </mat-card-footer>

    <mat-card-actions *ngIf="(activeAspect.type != aspectType.SIDE && activeAspect.type != aspectType.QUIZ)|| activePartIndex !== 0" align="right">
      <div class="flexcontainer">
        <button mat-button
                matTooltip="Put card to end"
                matTooltipPosition="above"
                matTooltipShowDelay="250"
                (click)="onCardClicked(actionType.PUT_TO_END)">
          <mat-icon svgIcon="undo"></mat-icon>
        </button>
        <div class="flexbox"></div>
        <button mat-button
                matTooltip="Put card aside"
                matTooltipPosition="above"
                matTooltipShowDelay="250"
                (click)="onCardClicked(actionType.PUT_ASIDE)">
          <mat-icon svgIcon="check"></mat-icon>
        </button>

        <!--
        <button *ngIf="(activeSide != null && activeSideIndex === card.sides.length - 1)
              && card.tenseGroups.length > 0"
                mat-button
                matTooltip="Tenses"
                matTooltipPosition="above"
                matTooltipShowDelay="250"
                (click)="onCardClicked(actionType.NONE)">
          <mat-icon svgIcon="keyboard_tab"></mat-icon>
          <mat-icon svgIcon="schedule"></mat-icon>
        </button>

        <button *ngIf="((activeTenseGroup != null && activeTenseGroupIndex === card.tenseGroups.length - 1)
              || (activeSide != null && activeSideIndex === card.sides.length - 1 && card.tenseGroups.length === 0))
              && card.examples.length > 0"
                mat-button
                matTooltip="Examples"
                matTooltipPosition="above"
                matTooltipShowDelay="250"
                (click)="onCardClicked(actionType.NONE)">
          <mat-icon svgIcon="keyboard_tab"></mat-icon>
          <mat-icon svgIcon="chat_bubble_outline"></mat-icon>
        </button>
        -->
      </div>
    </mat-card-actions>

  </mat-card>
</div>
