<app-cards-toolbar
  [@toolbarAnimation]="scrollDirection"
  class="fixed"
  [title]="title"
  [titleColor]="titleColor"
  [media]="media"
  [searchOptions]="searchOptions"
  [filterFavorites]="filterFavorites"
  [filterActive]="filterActive"
  [cardsAreInMultipleBoxes]="cardsAreInMultipleBoxes"
  [stackNotEmpty]="cards.length > 0"
  [user]="user"
  (searchItemEventEmitter)="onSearchItemChanged($event)"
  (menuItemEventEmitter)="onMenuItemClicked($event)"></app-cards-toolbar>

<mat-sidenav-container class="sidenav-container" layout="column">
  <mat-sidenav *ngIf="media > mediaType.MEDIUM" #sidenavStart mode="side"
               position="start" [opened]="sidenavOpened"
               class="sidenav sidenav-start">
    <div [@toolbarAnimation]="scrollDirection">
      <app-tag-list [tags]="tags" [tagsFiltered]="tagsFiltered" [recentCount]="'10'" [media]="media"
                    (tagEventEmitter)="onTagEvent($event)"></app-tag-list>
    </div>
  </mat-sidenav>
  <mat-sidenav *ngIf="media > mediaType.MEDIUM" #sidenavEnd mode="side"
               position="end" [opened]="sidenavOpened"
               class="sidenav sidenav-end">
    <div [@toolbarAnimation]="scrollDirection"></div>
  </mat-sidenav>

  <mat-sidenav-content cdkScrollable>
    <div class="card-main-content">
      <mat-tab-group *ngIf="cardsAreInMultipleBoxes"
                     mat-align-tabs="end"
                     [color]="fabColor"
                     [selectedIndex]="selectedTab.value"
                     (selectedIndexChange)="selectedTab.setValue($event)">
        <mat-tab *ngFor="let box of boxes; let index = index;">
          <ng-template mat-tab-label *ngIf="index === selectedTab.value">
            <mat-icon svgIcon="inbox" class="box-icon" [style.fill]="titleColor"></mat-icon>
            <span [style.color]="titleColor">Box {{ index + 1 }} ({{ getCardsOfBox(index).length }})</span>
          </ng-template>
          <ng-template mat-tab-label *ngIf="index !== selectedTab.value">
            <mat-icon svgIcon="inbox" class="box-icon"></mat-icon>
            <span>Box {{ index + 1 }} ({{ getCardsOfBox(index).length }})</span>
          </ng-template>
          <app-card-fragment *ngFor="let card of getCardsOfBox(index)"
                             [card]="card" [tags]="tags" [viceVersa]="viceVersa" [imagePalette]="stack.imagePalette"
                             [media]="media"
                             (cardEventEmitter)="onCardEvent($event)">
          </app-card-fragment>
        </mat-tab>
      </mat-tab-group>

      <div *ngIf="!cardsAreInMultipleBoxes">
        <app-card-fragment *ngFor="let card of cards"
                           [stack]="stack" [card]="card" [tags]="tags" [viceVersa]="viceVersa"
                           [imagePalette]="stack.imagePalette" [media]="media"
                           (cardEventEmitter)="onCardEvent($event)">
        </app-card-fragment>
      </div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>

<button mat-fab class="fab" (click)="onAddCardClicked()" [style.background]="fabColor">
  <mat-icon svgIcon="add" class="icon-accent-contrast"></mat-icon>
</button>
