<app-cards-toolbar
  *ngIf="media > mediaType.MEDIUM"
  [@toolbarAnimation]="scrollDirection"
  class="fixed"
  [title]="title"
  [titleColor]="titleColor"
  [media]="media"
  [searchOptions]="searchOptions"
  [filterFavorites]="filterFavorites"
  [filterActive]="filterActive"
  [cardsAreInMultipleBoxes]="cardsAreInMultipleBoxes"
  [stackNotEmpty]="cards.length > 0"
  [user]="user"
  [cardsDisplayMode]="cardsDisplayMode"
  (searchItemEventEmitter)="onSearchItemChanged($event)"
  (menuItemEventEmitter)="onMenuItemClicked($event)"></app-cards-toolbar>

<mat-sidenav-container class="sidenav-container" layout="column">
  <mat-sidenav *ngIf="media > mediaType.MEDIUM" mode="side" disableClose="true"
               position="start" [opened]="'true'"
               class="sidenav sidenav-start"
               (keydown)="onKeyDown($event)">
    <div [@toolbarAnimation]="scrollDirection">
      <app-tag-list [tags]="tags" [tagsFiltered]="tagsFiltered" [recentCount]="'10'" [media]="media"
                    (tagEventEmitter)="onTagEvent($event)"></app-tag-list>
    </div>
  </mat-sidenav>

  <mat-sidenav *ngIf="media < mediaType.LARGE" #sidenavStart mode="over" disableClose="false"
               position="start" [opened]="sidenavOpened"
               class="sidenav sidenav-start"
               (keydown)="onKeyDown($event)"
               (opened)="onSidenavOpened()"
               (closed)="onSidenavClosed()">
    <div [@toolbarAnimation]="scrollDirection">
      <div class="toolbar-wrapper">
        <div class="toolbar-block start">
          <button mat-button class="toolbar-menu-item" (click)="onMenuItemClicked('back')">
            <mat-icon svgIcon="arrow_back" class="icon"></mat-icon>
            BACK TO STACKS
          </button>
        </div>
      </div>
      <app-tag-list [tags]="tags" [tagsFiltered]="tagsFiltered" [recentCount]="'10'" [media]="media"
                    (tagEventEmitter)="onTagEvent($event)"></app-tag-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content cdkScrollable (keydown)="onKeyDown($event)">
    <app-cards-toolbar
      *ngIf="media < mediaType.LARGE"
      [@toolbarAnimation]="scrollDirection"
      class="fixed"
      [title]="title"
      [titleColor]="titleColor"
      [media]="media"
      [searchOptions]="searchOptions"
      [filterFavorites]="filterFavorites"
      [filterActive]="filterActive"
      [cardsAreInMultipleBoxes]="cardsAreInMultipleBoxes"
      [stackNotEmpty]="cards.length > 0"
      [user]="user"
      [cardsDisplayMode]="cardsDisplayMode"
      (keydown)="onKeyDown($event)"
      (searchItemEventEmitter)="onSearchItemChanged($event)"
      (menuItemEventEmitter)="onMenuItemClicked($event)"></app-cards-toolbar>

    <div class="card-main-content">

      <mat-tab-group class="card-main-content-margin full-height"
                     mat-align-tabs="end"
                     [color]="fabColor"
                     [selectedIndex]="selectedTab.value"
                     (selectedIndexChange)="selectedTab.setValue($event)">
        <mat-tab *ngFor="let box of boxes; let index = index;">
          <ng-template mat-tab-label *ngIf="cardsAreInMultipleBoxes && index === selectedTab.value">
            <mat-icon svgIcon="inbox" class="box-icon" [style.fill]="titleColor"></mat-icon>
            <span [style.color]="titleColor">Box {{ index + 1 }} ({{ getCardsOfBox(index).length }})</span>
          </ng-template>
          <ng-template mat-tab-label *ngIf="cardsAreInMultipleBoxes && index !== selectedTab.value">
            <mat-icon svgIcon="inbox" class="box-icon"></mat-icon>
            <span>Box {{ index + 1 }} ({{ getCardsOfBox(index).length }})</span>
          </ng-template>

          <div *ngIf="getCardsOfBox(index).length > 0" class="full-height-minus-toolbar">
            <!-- Display cards as list -->

            <div *ngIf="stack != null && cardsDisplayMode === cardsDisplayModeType.LIST">
              <app-card-fragment *ngFor="let card of getCardsOfBox(index)"
                                 [card]="card" [tags]="tags" [viceVersa]="viceVersa" [displayActionButtons]=true
                                 [imagePalette]="stack.imagePalette" [media]="media"
                                 (cardEventEmitter)="onCardEvent($event)">
              </app-card-fragment>
            </div>

            <!-- Display cards as stack -->

            <div *ngIf="stack != null && cardsDisplayMode === cardsDisplayModeType.STACK" class="full-height">
              <div class="vertical-center full-height">
                <app-cards-stack-fragment [stack]="stack" [cards]="getCardsOfBox(index)" [viceVersa]="viceVersa"
                                          [tags]="tags" [media]="media"
                                          (cardEventEmitter)="onCardEvent($event)">
                </app-cards-stack-fragment>
              </div>
            </div>
          </div>

          <!-- Placeholder for empty box -->

          <div *ngIf="getCardsOfBox(index).length == 0" class="placeholder-container vertical-center">
            <button *ngIf="!cardsAreInMultipleBoxes" mat-flat-button class="placeholder"
                    (click)="onPlaceholderClicked()">
              <div class="placeholder-title">Wanna get started?</div>
              There are no cards in this stack yet. Click here to begin with your first tasklet
            </button>
            <button *ngIf="cardsAreInMultipleBoxes" mat-flat-button class="placeholder"
                    (click)="onPlaceholderClicked()">
              <div class="placeholder-title">Empty box</div>
              There are no cards in this box. Move to another box or click here to create a card.
            </button>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-sidenav-content>
  <mat-sidenav *ngIf="media > mediaType.MEDIUM" #sidenavStart mode="side" disableClose="true"
               position="end" [opened]="sidenavOpened"
               class="sidenav sidenav-end"
               (keydown)="onKeyDown($event)">
    <!-- Just for symmetry -->
  </mat-sidenav>
</mat-sidenav-container>

<button mat-fab class="fab" (click)="onAddCardClicked()" [style.background]="fabColor">
  <mat-icon svgIcon="add" class="icon-accent-contrast"></mat-icon>
</button>
