<mat-card>
  <button mat-icon-button [matMenuTriggerFor]="menu" id="more" class="hidden">
    <mat-icon svgIcon="more_black"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="deleteCard()">
      <mat-icon svgIcon="delete"></mat-icon>
      <span>Delete</span>
    </button>
    <button mat-menu-item (click)="updateCard()">
      <mat-icon svgIcon="edit"></mat-icon>
      <span>Edit</span>
    </button>
  </mat-menu>

  <app-side [card]="card" [sideIndex]="activeSideIndex" [side]="activeSide" (click)="flipCard()"></app-side>
</mat-card>
