@import '../../../../theme';

mat-card {
  float: left;
  margin-top: 10px;

  @media #{$mat-small} {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
  }
  @media #{$mat-medium} {
    width: 300px;
    margin-right: 10px;
  }
  @media #{$mat-large} {
    width: 300px;
    margin-right: 10px;
  }
}

#more {
  float: right;
}

.hidden {
  display: none;
}

mat-card {
  &:hover .hidden {
    display: inline-block;
  }
}

.tag {
  background-color: rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin: 6px 6px 0 0;
  color: rgba(0, 0, 0, .87);
  direction: ltr;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 15px;
  float: left;
  align-items: center;
  height: 18px;
  padding: 3px 5px;
  text-align: left;
}

.tag-label {
  padding: 1px;
}
