<!-- Recent -->
<app-tag-list-item *ngFor="let t of tagsRecent" [tag]="t" [media]="media" [active]="isInFocus(t)"
                   (tagEventEmitter)="onTagEvent($event)">
</app-tag-list-item>
<!-- Non-recent -->
<div *ngIf="showMoreStatus">
  <mat-divider></mat-divider>
  <app-tag-list-item *ngFor="let t of tagsNonRecent" [tag]="t" [media]="media" [active]="isInFocus(t)"
                     (tagEventEmitter)="onTagEvent($event)">
  </app-tag-list-item>
</div>

<button mat-button *ngIf="tags.length > recentCount" (click)="onMoreLessToggled()">{{ showMoreLabel }}</button>
