@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  background: #f7f7f7;
  color: #808080;
  display: block;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

.mat-toolbar {
  min-height: 56px !important;
}

.mat-toolbar-row {
  height: 56px !important;
}
