@import '~@angular/material/theming';

$light-primary: mat-palette($mat-light-green, 700, 800, 900);
$light-accent: mat-palette($mat-amber, 500, 600, 700);
$light-warn: mat-palette($mat-red);

$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);
