@import '../../../theme';

.content {
  @media #{$md-small} {
    padding-top: 88px;
    margin-left: 10px;
    margin-right: 10px;
  }
  @media #{$md-medium} {
    padding-top: 88px;
    margin-left: 20px;
    margin-right: 20px;
  }
  @media #{$md-large} {
    padding-top: 88px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}
