<div class="flexcontainer-vertical full-height">
  <div class="flexbox"></div>
  <div swing-stack #swingStack
       [stackConfig]="stackConfig"
       (throwout)="onCardThrownOut($event)"
       (throwoutend)="onCardThrownOutEnd($event)">
    <div swing-card class="animate-translation-100">
      <app-card-fragment class="card-swipable" [stack]="stack" [card]="cards[0]" [tags]="tags"
                         [viceVersa]="viceVersa" [imagePalette]="stack.imagePalette" [media]="media"
                         (cardEventEmitter)="cardEventEmitter.emit($event)">
      </app-card-fragment>
    </div>
  </div>
  <div class="flexcontainer button-container">
    <button mat-flat-button *ngIf="cardX < -cardBumpBack"
            [style.background]="backgroundColor"
            [style.color]="textColor">PUT CARD TO END
    </button>
    <button mat-button *ngIf="cardX >= -cardBumpBack && media !== mediaType.SMALL"
            [disabled]="cards.length < 1 || cardX > cardBumpBack"
            (click)="onPutToEndClicked()">PUT CARD TO END
    </button>
    <div class="flexbox"></div>
    <button mat-flat-button *ngIf="cardX > cardBumpBack"
            [style.background]="backgroundColor"
            [style.color]="textColor">MOVE TO NEXT BOX
    </button>
    <button mat-button *ngIf="cardX <= cardBumpBack && media !== mediaType.SMALL"
            [disabled]="cards.length < 1 || cardX < -cardBumpBack"
            (click)="onMoveCardClicked()">MOVE TO NEXT BOX
    </button>
  </div>
  <div class="flexbox"></div>
</div>
