@import '../../../../../../styles';
@import '../../../../../../flex';
@import '../../../../../../sizes';

.button-container {
  margin: 0 auto;
  min-height: 24px;

  @media #{$breakpoint-small} {
    width: 100%;
    max-width: 450px;
  }
  @media #{$breakpoint-medium} {
    width: 450px;
  }
  @media #{$breakpoint-large} {
    width: 450px;
  }
}

.full-height {
  height: 100%;
}
